@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 100%;
    overflow-x: hidden;
    color:black;
}

.homeh{
    height: 100vh;
    background-image: url("/src/assets/herobg.png");
}

.abouth{
    background-image: url("/src/assets/Overview BG Final Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 55%;
    color: aliceblue;
}

.whyhinjawadih{
    background-image: url("/src/assets/Why\ Hinjawadi\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 55%;
    color: aliceblue;

}

.backcontainer{
    color: aliceblue;
    background: linear-gradient(113.5deg, #1D3306 0%, rgba(58, 89, 54, 0.89) 108.28%);
     padding: 40px;
     display: flex;
     flex-direction: column;
   justify-content: center;
   align-items: center;
   
  
   position: relative;
}


.rightimg{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
     z-index: 1;
}
/* Rectangle 8 */


.managedforesth{
    
    
    color: aliceblue;
     padding: 40px;
     display: flex;
     flex-direction: column;
   justify-content: center;
   align-items: center;
   
    background: linear-gradient(113.5deg, #1D3306 0%, rgba(58, 89, 54, 0.89) 108.28%);
  
   position: relative;
}


.workfromh{
    color: white;
}
/* background-image: url("/src/assets/Work\ From\ Forest\ Image.png"); */
/* background-size: 100vh; */
/* background-repeat: no-repeat; */

/* padding-top: 10%; */
/* padding-bottom: 55%; */
/* color: aliceblue; */

.amenitiesh{
    background: linear-gradient(113.5deg, #1D3306 0%, rgba(58, 89, 54, 0.89) 108.28%);
    /* position: absolute; */
}

.contactush{
    background-image: url("/src/assets/Contact\ Us\ BG\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bgimg{
    background-image: url("/src/assets/Hero\ Images.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgbook{
    background-color: #BD7F4C;
}

.infosech{
    height: 50vh;
    width: 100%;
    background-image: url("/src/assets/herobg.png");

}